#window {
  margin: 8px;
  padding: 8px;
  border: 2px solid #2a2a2ae6;
  border-radius: 8px;
  background-color: rgba(30,30,30,0.93);
}

#text {
  color: #dadadaff;
}

/* #input {
  margin: 6px 6px 10px 6px;
  padding: 8px 10px;
  border: 1px solid #3a3a3acc;
  border-radius: 6px;
  background-color: rgba(42,42,42,0.85);
}

#inner-box {
  padding: 4px;
  background-color: transparent;
}

#outer-box {
  padding: 6px;
  background-color: transparent;
}

#scroll {
  margin: 0;
  padding: 0;
}

#unselected {
    color: #dadadaff;
}

#entry {
  padding: 6px 10px;
  border-radius: 6px;
  background-color: transparent;
}
*/

#entry:selected {
  color: #f4a261ff;
} 
